
.search-bar {
    margin: 20px;
    text-align: left;
}

.search-bar-wrapper input {
    width: 75%;
    margin: 15px auto;
}

.video-detail-wrapper {
    position: relative;
    padding: 15px;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
    background: rgb(250,250,250);
    color: rgb(80,80,80);
}

.video-detail .details {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid rgb(220,220,220);
    border-radius: 2px;
}

.video-item {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 2px;
    background: rgb(250,250,250);
    color: rgb(80,80,80);
}

.video-item img {
    max-width: 64px;
}

.video-item:last-child {
    margin-bottom: 0;
}

.video-item:hover {
    cursor: pointer;
}

.loader {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.loader img {
    margin: 100px auto;
}